@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<hr />

<p>Changes I made to reflect in milestone 1</p>
<p>This work was done in milestone 2</p>
